.label-container {
    max-height: 894px;
    padding-top: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px;
    .modal-search {
        outline: none;
        border: none;
        box-sizing: border-box;
        color: $clr-text;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
            "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        border-radius: 3px;
        padding: 8px 12px;
        box-shadow: inset 0 0 0 2px $clr-border-input;
        background-color: $clr-background-input;
        width: 100%;
        margin-bottom: 0;
    }
    .sub-header-title {
        color: $clr-text-subtle;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 12px;
    }
    .labels-options {
        padding: 4px 0 8px;
        .label-option {
            box-sizing: border-box;
            margin: 0;
            padding: 0 0 4px 4px;
            width: 100%;
            cursor: pointer;
            position: relative;
            display: inline-flex;
            align-items: center;
            & > input {
                display: none;
            }
            .label-check-mark {
                position: relative;
                flex-shrink: 0;
                border-radius: 2px;
                height: 16px;
                width: 16px;
                overflow: hidden;
                white-space: nowrap;
                transition: all 0.2s ease-in-out;
                background-color: $clr-background-input;
                box-shadow: inset 0 0 0 2px $clr-border-input;
                &.checked {
                    background-color: $clr-background-selected-bold;
                    box-shadow: inset 0 0 0 2px $clr-border-selected;
                }
                & > span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 16px;
                    width: 16px;
                    opacity: 0;
                    &.checked {
                        height: 16px;
                        width: 16px;
                        opacity: 1;
                    }
                    svg {
                        fill: $clr-icon-inverse;
                    }
                }
            }
            .label-option-span {
                flex-grow: 1;
                margin-left: 12px;
                min-width: 0;
                & > div {
                    margin-bottom: 0px;
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    gap: 4px;
                    min-width: 0;
                    .label-styles {
                        width: 100%;
                        display: inline-block;
                        position: relative;
                        margin-bottom: 0;
                        border-radius: 3px;
                        padding: 0 12px;
                        max-width: 100%;
                        min-width: 48px;
                        height: 32px;
                        box-sizing: border-box;
                        line-height: 32px;
                        font-size: 14px;
                        font-weight: 500;
                        text-align: left;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &:hover {
                            cursor: pointer;
                            filter: saturate(85%) brightness(85%);
                        }
                    }
                    button {
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu",
                            "Droid Sans", "Helvetica Neue", sans-serif;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        box-sizing: border-box;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 3px;
                        cursor: pointer;
                        text-decoration: none;
                        white-space: normal;
                        background-color: $clr-background-neutral;
                        color: $clr-text;
                        transition-property: background-color, border-color, box-shadow;
                        transition-duration: 85ms;
                        transition-timing-function: ease;
                        background-color: transparent;
                        border: none;
                        box-shadow: none;
                        flex-shrink: 0;
                        margin-bottom: 0;
                        padding: 8px;
                        &:hover {
                            background-color: $clr-background-neutral-hovered;
                            box-shadow: none;
                            border: none;
                            color: $clr-text;
                            text-decoration: none;
                        }
                        span {
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu",
                                "Droid Sans", "Helvetica Neue", sans-serif;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                            cursor: pointer;
                            white-space: normal;
                            color: $clr-text;
                            display: inline-block;
                            line-height: 1;
                            svg {
                                height: 16px;
                                width: 16px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .create-label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
            "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px 12px;
        text-decoration: none;
        white-space: normal;
        background-color: $clr-background-neutral;
        box-shadow: none;
        border: none;
        color: $clr-text;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        width: 100%;
        margin: 4px 0;
        &:hover {
            background-color: $clr-background-neutral-hovered;
            box-shadow: none;
            border: none;
            color: $clr-text;
            text-decoration: none;
        }
    }
}
.create-labels {
    -webkit-transform: translate3d(0, 0, 0);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px;
    padding-top: 0;
    max-height: 999px;
    .create-title {
        margin: 0 -12px;
        padding: 32px;
        background-color: $clr-surface-sunken;
        .create-title-prev {
            display: inline-block;
            position: relative;
            margin-bottom: 0;
            border-radius: 3px;
            padding: 0 12px;
            max-width: 100%;
            min-width: 48px;
            height: 32px;
            box-sizing: border-box;
            line-height: 32px;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
    p {
        color: $clr-text-subtle;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 16px;
        margin-top: 12px;
    }
    .title-input {
        input {
            outline: none;
            border: none;
            box-sizing: border-box;
            color: $clr-text;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
                "Helvetica Neue", sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            border-radius: 3px;
            padding: 8px 12px;
            box-shadow: inset 0 0 0 2px $clr-border-input;
            background-color: $clr-background-input;
            width: 100%;
            margin-bottom: 0;
        }
    }
    .colors-options {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 4px;
        margin-bottom: 8px;
        .color-option {
            position: relative;
            box-sizing: border-box;
            border-radius: 3px;
            border: 2px transparent solid;
            height: 32px;
            .this-color {
                position: relative;
                border-radius: 3px;
                width: 100%;
                height: 100%;
                cursor: pointer;
                &:hover {
                    filter: saturate(85%) brightness(85%);
                }
                &.selected {
                    border: 2px $clr-border-selected solid;
                }
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border: 2px $clr-border-inverse solid;
                    pointer-events: none;
                }
            }
        }
    }
    .remove-label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
            "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px 12px;
        text-decoration: none;
        white-space: normal;
        background-color: $clr-background-neutral;
        box-shadow: none;
        border: none;
        color: $clr-text;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        width: 100%;
        &:disabled {
            background-color: $clr-background-disabled;
            box-shadow: none;
            border: none;
            color: $clr-text-disabled;
            cursor: not-allowed;
        }
        & > span {
            display: inline-block;
            line-height: 1;
            margin-right: 8px;
            & > span {
                display: inline-block;
                line-height: 1;
                svg {
                    height: 14px;
                    width: 14px;
                    line-height: 14px;
                    overflow: hidden;
                    pointer-events: none;
                    max-width: 100%;
                    max-height: 100%;
                    color: $clr-text-accent-gray-bolder;
                    fill: $clr-text-accent-gray-bolder;
                    vertical-align: bottom;
                }
            }
        }
    }
    hr {
        color: $clr-text;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
            "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        box-sizing: initial;
        background-color: $clr-border;
        border: 0;
        height: 1px;
        margin: 16px 0;
        padding: 0;
        width: 100%;
    }
    .create-label-btn {
        color: $clr-text;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
            "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        button {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
                "Helvetica Neue", sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            cursor: pointer;
            padding: 6px 12px;
            text-decoration: none;
            white-space: normal;
            box-shadow: none;
            border: none;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            background-color: $clr-background-brand-bold;
            color: $clr-text-inverse;
            margin-bottom: 0px;
            &:hover {
                background-color: $clr-background-brand-bold-hovered;
            }
            &.remove-label-btn {
                background-color: $clr-background-danger-bold;
            }
        }
    }
}
