.header-container {
    // display: flex;
    // background-color: #b3d3db;
    // background-color: transparent;
    // padding: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    // border-bottom: 1px solid hsla(218, 54%, 19.6%, 0.16);
    min-height: 48px;
    max-height: 48px;
    overflow: hidden;

    nav {
        transition: background-color 300ms;
        border-bottom: 1px solid hsla(218, 54%, 19.6%, 0.16);
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        backdrop-filter: blur(6px);
        max-height: 48px;
        padding: 8px;
        img {
            padding: 0 8px;
            height: 24px;
            border-radius: 3px;
            vertical-align: -webkit-baseline-middle;
        }
        .nav-left-content {
            align-items: stretch;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            height: 100%;
            position: relative;

            .nav-button {
                display: inline-flex;
                font-weight: 400;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                background-color: transparent;
                color: $clr-text;
                padding: 6px 12px;
                height: 32px;
                line-height: 32px;
                margin-right: 4px;
                padding-right: 10px;
                white-space: nowrap;
                cursor: pointer;
                transition-property: background-color, border-color, box-shadow;
                transition-duration: 85ms;
                transition-timing-function: ease;
                .btn-title {
                    margin-right: 2px;
                }
                .nav-arrow-down {
                    margin-left: 4px;
                    min-width: 16px;
                    display: inline-block;
                    line-height: 1;
                    font-size: 12px;
                }
                &:hover {
                    background-color: $dynamic-button-hovered;
                }
            }
            .create-menu {
                display: flex;
                flex-shrink: 0;
                margin: 0 4px;
                .create-menu-button {
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 3px;
                    border: 0;
                    text-decoration: none;
                    align-items: center;
                    color: $clr-text;
                    // background-color: transparent;
                    box-shadow: none;
                    display: flex;
                    font-weight: bold;
                    height: 32px;
                    line-height: 32px;
                    margin: 0 4px 0 0;
                    padding: 0;
                    white-space: nowrap;
                    cursor: pointer;
                    p {
                        margin: 0;
                        font-weight: 400;
                        padding: 0 12px;
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                    &:active {
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
        .nav-right-content {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            gap: 5px;
            color: $clr-text;
            .search-box {
                display: flex;
                align-items: center;
                position: relative;

                margin-right: 4px;
                margin-left: 4px;

                padding: 0px 12px 0px 30px;

                outline: none;
                border-radius: 5px;
                font-size: 14px;
                line-height: 20px;
                border: 2px solid var(--dynamic-text-transparent, rgba(255, 255, 255, 0.25));
                box-shadow: none;
                background-color: rgba(255, 255, 255, 0.2);
                color: var(--dynamic-text, #ffffff);
                &:hover {
                    background-color: $dynamic-button-hovered;
                }
                .magnifying-glass {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    color: $clr-text;
                    svg {
                        margin-top: -5px;
                    }
                }
                input {
                    background-color: transparent;
                    border: none;
                    color: $clr-text;
                    &::placeholder {
                        color: $clr-text;
                    }
                }
            }
            .nav-right-content-buttons {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-right: 10px;
                > * {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 6px;
                    &:hover {
                        background-color: $dynamic-button-hovered;
                        border-radius: 50%;
                    }
                }
                .notification-button {
                    display: inline-block;
                    flex-shrink: 0;
                    line-height: 1;
                    width: 24px;
                    height: 24px;
                }
                .dark-mode-button {
                }
            }
        }
        // .right-nav-app-header {
        //     display: flex;
        //     gap: 16px;
        //     align-items: center;
        //     padding-right: 16px;
        //     font-size: 18px;
        //     .app-header-search-box {
        //         position: relative;

        //         i {
        //             position: absolute;
        //             font-size: 12px;
        //             left: 10px;
        //             top: 50%;
        //             transform: translateY(-50%);
        //             pointer-events: none; /* This ensures that the icon does not interfere with input interactions */
        //         }

        //         .app-header-search-box input {
        //             font-size: 8px;
        //             padding-left: 25px;
        //         }
        //     }
        //     input {
        //         // background-color: #bdd5db;
        //         color: black;
        //         height: 32px;
        //         padding: 0px 12px 0px 30px;
        //         outline: none;
        //         border-radius: 5px;
        //         font-size: 14px;
        //         line-height: 20px;
        //         border: 2px solid hsla(218, 54%, 19.6%, 0.16);
        //     }
        //     ::placeholder {
        //         color: rgb(75, 75, 75);
        //         padding-left: 2px;
        //     }
        // }
        // .right-nav-btn:nth-child(2) {
        //     transform: rotate(45deg);
        // }
    }
    // .loggedin-user {
    //     background-color: $clr1;
    //     padding: 2px 8px;
    //     border-radius: 1em;
    //     align-self: flex-end;
    //     color: whitesmoke;
    //     span {
    //         background-color: $clr2;
    //         padding: 4px;
    //         margin: 10px;
    //         border-radius: 50%;
    // }

    // background-color: white;
    // justify-content: space-between;

    // color: $clr-text;
    // padding: 5px 0;
    // img {
    //     background-color: darkblue;
    //     height: 25px;
    //     padding: 4px;
    // }

    // nav a:not(:first-child) {
    //     padding: 0 5px;
    //     margin: 10px;
    // }
    // nav .active {
    //     color: $clr1;
    // }
}
