.board-tile {
    display: inline-block;
    position: relative;
    margin-right: 12px;
    cursor: pointer;
    &:hover {
        filter: brightness(85%);
    }

    img {
        border-radius: 3px;
        height: 95px;
        width: 184px;
        border-radius: 3px;
        margin-bottom: 7px;
        // padding-bottom: 0;
        filter: brightness(80%);
    }

    .btn-star-board {
        position: absolute;
        bottom: 10px;
        right: 0;
        opacity: 1;
        @include trello-icon($icon-full-star, $type: sm, $color: white);
        background-color: transparent;
        cursor: pointer;
        color: gold;

        &:hover {
            filter: brightness(80%);
            @include trello-icon($icon-star, $type: sm, $color: white);
            color: gold;
            scale: 1.2;
        }
        &.unstarred {
            @include trello-icon($icon-star, $type: sm, $color: white);
            opacity: 0;
            right: -10px;

            transition: transform 0.3s ease;
            &:hover {
                opacity: 1;
            }
        }
    }
    &:hover .unstarred {
        @include trello-icon($icon-star, $type: sm, $color: white);
        opacity: 1;
        transform: translateX(-10px);
    }

    .board-title {
        position: absolute;
        top: 8px;
        left: 8px;
        // background-color: rgba(0, 0, 0, 0.7);
        padding: 2px 2px;
        border-radius: 3px;
        font-size: 16px;
        line-height: 20px;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        color: white;
    }
}

@media (max-width: 720px) {
    .board-tile img {
        width: 155px;
    }
}
