.board-details-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    height: $board-hight;
    background-color: black;

    nav {
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;

        gap: 4px;
        padding: 12px 10px 12px 16px;

        z-index: 0;

        padding-bottom: 0;

        background: linear-gradient(to bottom, hsla(192, 36.9%, 78.2%, 0.9), hsla(192, 36.9%, 78.2%, 0.9));

        width: $board-header-width;
        height: $board-header-hight;

        .board-title {
            border-radius: 3px;
            cursor: default;
            display: inline-flex;
            position: relative;
            white-space: nowrap;
            height: 32px;
            line-height: 32px;
            margin-right: 4px;
            margin-bottom: 0;
            max-width: 100%;

            h1 {
                background: transparent;
                font-weight: bold;
                line-height: 32px;
                text-decoration: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 100%;
                color: $clr-text;
                margin-bottom: 12px;
                padding: 0 10px;
            }

        }

        .btn-star {
            height: 32px;
            width: 32px;
            // line-height: 32px;
            margin-bottom: 0;
            flex-shrink: 0;
            background-color: transparent;
            // padding: 6px;

            font-size: 14px;
            // line-height: 20px;
            font-weight: 400;
            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            cursor: pointer;
            padding: 6px 12px;
            text-decoration: none;
            white-space: normal;
            background-color: $clr-background-neutral, #091e420f;
            box-shadow: none;
            border: none;
            color: $clr-text, #172b4d;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;

            &:hover {
                background-color: #091E4224
            }


            .star {
                @include trello-icon($icon-star);

                &:hover {
                    color: #42526e;
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }

}