.home-container {
    min-height: calc(100vh - 40px); // max-width: 1500px;
    overflow-y: auto;
    h1 {
        color: $clr-text;
        font-family: Charlie-display;

        font-size: 40px;
    }
    .home-sticky-container {
        display: grid;
        grid-template-columns: repeat(auto, minmax(100px, 1fr)); /* see notes below */
        grid-gap: 1em;
        .home-left-sidebar-container {
        }
        .all-boards {
            grid-column: 2;

            margin: 40px 16px 0;
            max-width: 1080px;
            .content-all-boards {
                display: flex;
                flex-direction: column;
            }
        }
    }
    .board-category-title {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 50px 0 14px 5px;
        .star {
            @include trello-icon($icon-star, $type: sm, $color: $clr-text);
            font-size: 24px;
        }
        .member {
            @include trello-icon($icon-member, $type: sm, $color: $clr-text);
            font-size: 24px;
        }
        h3 {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
            color: $clr-text;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: -3px;
        }
    }
    .board-list {
        display: flex;
        flex-wrap: wrap;

        li {
            position: relative;
            color: $clr6;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            cursor: pointer;
            overflow-wrap: break-word;
        }
    }
}
.create-new-board {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr-background-accent-gray-subtlest;
    color: $clr-text;
    height: 95px;
    width: 184px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

@media (max-width: 720px) {
    .home-container .home-sticky-container {
        grid-gap: 0;
        .all-boards {
            margin: 0 20px;
        }
    }
    .create-new-board {
        width: 155px;
    }
}
