.group-list-container {
    position: relative;

    // flex-grow: 1;
    
    margin-top: 12px;
    margin-bottom: 8px;
    margin-inline-start: 0.25em;
    
    overflow-x: scroll;
    overflow-y: hidden;
    
    height: 100%;


    // scrollbar-color: #fff6 #00000026;
    // scrollbar-width: auto;
    // -webkit-user-select: none;
    // user-select: none;
    // white-space: nowrap;
    // -webkit-overflow-scrolling: touch;
    // -webkit-transform: translateZ(0);
}