.group-preview-container {

    display: inline-block;
    height: 100%;
    margin: 0 4px;
    scroll-margin: 8px;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;


    .group-header {
        padding-right: 36px;
        flex: 0 0 auto;
        min-height: 20px;
        padding: 14px 8px;
        position: relative;
    }
}