.group-list-container {
    position: relative;
    flex: 1;


    margin-top: 12px;
    margin-bottom: 8px;
    margin-inline-start: 0.25em;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-color: #fff6 #00000026;
    scrollbar-width: thin;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);

    .add-group-before {
        background-color: #ffffff3d;

        cursor: pointer;
        border-radius: 12px;
        transition: background-color 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in, color 85ms ease-in;
        box-sizing: border-box;
        display: flex;
        height: 48px;
        margin: 0 4px;
        scroll-margin: 8px;
        vertical-align: top;
        white-space: nowrap;
        min-width: 272px;
        text-decoration-line: none;
        color: #fff;
        padding: 14px 16px;

        align-items: center;

        &:hover {
            background-color: $dynamic-button-hovered;
        }

        div {
            height: 20px;
            width: 20px;
            margin-right: 3px;

            .plus-icon {
                @include trello-icon($icon-plus);
                color: #fff;
                font-size: 16px;
                height: 20px;
                line-height: 20px;
                width: 20px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                // display: inline-block;
                // font-family: trellicons;
                // font-style: normal;
                // font-weight: 400;
                // line-height: 1;
                text-align: center;
                // text-decoration: none;
                vertical-align: bottom;
            }
        }

        div {
            width: fit-content;

        }
    }

    .add-group {

        background-color: $clr-tr-background-list;
        border-radius: 12px;
        height: fit-content;
        min-height: 32px;
        padding: 8px;
        transition: background-color 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 4px;
        scroll-margin: 8px;
        vertical-align: top;
        white-space: nowrap;
        width: 272px;
        min-width: 272px;

        form {
            width: 100%;

            input {
                box-sizing: border-box;
                height: 32px;
                display: block;
                margin: 0;
                transition: margin 85ms ease-in, background-color 85ms ease-in;
                border: none;

                border-radius: 3px;
                padding: 8px 12px;
                line-height: 20px;
                outline: none;
                background-color: $clr-background-input, #fff;
                box-shadow: inset 0 0 0 2px $clr-border-focused, #388bff;
                color: $clr-text, #172b4d;
                font-size: 14px;
                font: inherit;
                writing-mode: horizontal-tb;
                width: 100%;
            }
        }
    }

    .ghost-group {
        background-color: $clr-shadow-overflow-spread;

        &>* {
            visibility: hidden;
        }
    }


    // .draggable-dragging {
    //     opacity: 1 !important;
    //     /* Add any other styles to reset the dragging styles */
    // }

    .drag-group {
        // background-color: blue;
        // rotate: 4deg;

        .group-preview-wrapper {
            .group-list-container {}

        }
    }

}