.homepage-container {
    // background-image: url("https://res.cloudinary.com/dyu8jwe4o/image/upload/v1690872383/WhatsApp_Image_2023-08-01_at_09.46.08_cnqlou.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    flex: 1;
    position: relative;
    overflow: hidden;
}
