.homepage-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    height: 60px;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: Charlie-text;

    .left-nav {
        display: flex;
        img {
            padding: 12px;
        }
        nav {
            list-style: none;

            padding: 0;
        }
    }
    .right-nav {
        display: flex;
        list-style: none;

        padding: 0;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 0.8em;
            line-height: 1.4;
            text-align: center;
            width: 90px;

            color: #121e30;
            cursor: pointer;
            .fullname {
                display: block;
            }
        }
        .nav-link-signup {
            justify-content: center;
            background-color: $clr-background-brand-bold;
            color: #fff;
            width: 150px;
            cursor: pointer;
            &:hover {
                background-color: $clr-background-brand-bold-hovered;
            }
        }
        .nav-link-signup-small-screen {
            // justify-content: center;
            background-color: $clr-background-brand-bold;
            color: #fff;
            width: 150px;
            cursor: pointer;
            display: none;
            &:hover {
                background-color: $clr-background-brand-bold-hovered;
            }
        }
    }
}
@media (max-width: 720px) {
    .homepage-header {
        height: 70px;
        .right-nav {
            a {
                padding: 0;
                width: 100px;
                line-height: 1;
            }
            .nav-link-signup {
                width: 100px;
                padding: 0.2em;
                display: none;
            }
            .nav-link-signup-small-screen {
                width: 60px;
                padding: 0.2em;
                display: flex;
                justify-content: center;
            }
        }
    }
}
