.task-preview-container {
    position: relative;
    display: block;
    flex-shrink: 0;

    border-radius: 8px;
    margin-bottom: 1px;

    max-width: 300px;
    min-height: 20px;

    background-color: $clr-surface-raised;
    box-shadow: $clr-shadow-raised, 0 1px 1px #091e4240, 0 0 1px #091e424f;
    color: $clr-text, #172b4d;

    text-decoration: none;

    scroll-margin: 8px;
    z-index: 0;

    &:hover {
        background-color: $clr-surface-hovered;

        .btn-edit {
            visibility: visible;
        }

    }

    cursor: pointer;

    .task-cover {
        height: 32px;
        border-radius: 8px 8px 0 0;
        position: relative;

        // .edit {
        // background-clip: padding-box;
        // background-color: $clr-surface-raised-hovered, #f1f2f4;
        // background-origin: initial;
        // border-radius: 8px;
        // opacity: .8;
        // padding: 6px;
        // position: absolute;
        // right: 2px;
        // top: 2px;
        // visibility: hidden;
        // z-index: 40;
        // color: $clr-icon, #44546f;
        // font-size: 16px;
        // height: 20px;
        // line-height: 20px;
        // width: 20px;
        // -webkit-font-smoothing: antialiased;
        // -moz-osx-font-smoothing: grayscale;
        // display: inline-block;
        // font-family: trellicons;
        // font-style: normal;
        // font-weight: 400;
        // line-height: 1;
        // text-align: center;
        // text-decoration: none;
        // vertical-align: bottom;
        // }
    }

    .task-cover-img {
        background-size: contain;
        background-color: #fcfcfb;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px 8px 0 0;
        min-height: em(200px);
        width: 100%;
    }



    .task-details-container {
        position: relative;
        overflow: hidden;
        padding: 8px 8px 4px 12px;
        z-index: 10;

        .task-labels {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            margin-bottom: 4px;

            .task-label {
                display: inline-flex;
                max-width: calc(100% - 4px);




                button {
                    display: inline-block;
                    position: relative;
                    min-height: 8px;
                    min-width: 40px;
                    max-width: 100%;

                    transition: width height 2s;

                    margin-top: 0;
                    margin-bottom: 0;
                    padding-right: 0;
                    padding-left: 0;
                    padding: 0 8px;

                    border-radius: 4px;
                    // background-color: var(--label-background-color);
                    // color: var(--label-text-color);
                    // color: transparent;

                    line-height: 16px;
                    font-size: 12px;
                    font-weight: 500;
                    text-align: left;
                    vertical-align: middle;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &.labels-close {
                        animation-name: labelsClose;
                        animation-duration: 450ms;
                        animation-timing-function: ease-in;
                        animation-fill-mode: forwards;
                    }

                    &.labels-open {
                        animation-name: labelsOpen;
                        animation-duration: 450ms;
                        animation-timing-function: ease-in;
                        animation-fill-mode: forwards;
                    }




                    &:hover {
                        cursor: pointer;
                        filter: saturate(85%) brightness(85%);
                    }

                }
            }
        }

        .task-title {
            word-wrap: break-word;
            clear: both;
            color: $clr-text, #172b4d;
            display: block;
            margin: 0 0 4px;
            overflow: hidden;
            text-decoration: none;
            word-wrap: break-word;
            clear: both;

        }

        .badges {
            float: left;
            margin-left: -2px;
            max-width: 100%;
        }

        .task-members {
            float: right;
            margin: 0;

            &>* {
                float: right;
                height: 24px;
                margin: 0 0 4px 4px;
                width: 24px;
                background-color: $clr-background-accent-gray-subtler;
                color: $clr-text;
                border-radius: 25em;
                cursor: pointer;
                display: block;
                float: left;
                margin: 0 4px 4px 0;
                overflow: visible;
                position: relative;
                text-decoration: none;
                -webkit-user-select: none;
                user-select: none;
                z-index: 0;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 25em;
                    object-fit: cover;
                    border: 0;
                    aspect-ratio: auto 30 / 30;
                    overflow-clip-margin: content-box;
                    overflow: clip;
                }
            }
        }
    }

    .btn-edit {
        background-clip: padding-box;
        background-color: $clr-surface-raised-hovered;
        background-origin: initial;
        border-radius: 8px;
        opacity: .8;
        padding: 6px;
        position: absolute;
        right: 2px;
        top: 2px;
        visibility: hidden;
        z-index: 40;

        .edit-icon {
            @include trello-icon($icon-edit)
        }

        &:hover {
            background-color: $clr-surface-raised-pressed;
        }

    }

    
}