.task-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    gap: 7px;

    min-height: 0;

    margin: 0 4px;
    padding: 1px 4px 0;

    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;

    // overflow-y: scroll;
    // max-height: calc($board-hight-$board-header-hight);
    .ghost-task {
        background-color: $clr-shadow-overflow-spread;

        &>* {
            opacity: 0;
        }
    }
    
}