.task-list-container {
    background-color: $clr-tr-background-list;
    color: $clr-text-subtle;
    border-radius: 12px;
    box-shadow: $clr-shadow-raised;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    width: 100%;
    overflow-y: scroll;
    // max-height: calc($board-hight-$board-header-hight);
}