header {
    background-color: white;
    padding: 8px;
    display: flex;
    // justify-content: space-between;
    font-size: 18px;
    border-bottom: 1px solid gray;
    max-height: 48px;

    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
        // img {
        //     width: 2em;
        //     height: 2em;
        //     border-radius: 50%;
        // }
    }
    background-color: white;
    justify-content: space-between;

    color: $clr-text;
    padding: 5px 0;
    img {
        background-color: darkblue;
        height: 25px;
        padding: 4px;
    }
    nav {
    }
    nav a:not(:first-child) {
        padding: 0 5px;
        margin: 10px;
    }
    nav .active {
        color: $clr1;
    }
}
