.top-navbar {
    position: relative;
    overflow: hidden;
    nav {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 4px;
        padding: 0 10px 0 16px;

        // background: linear-gradient(to bottom, hsla(192, 36.9%, 78.2%, 0.9), hsla(192, 36.9%, 78.2%, 0.9));

        width: $board-header-width;
        height: $board-header-hight;
        .left-board-nav {
            .board-title {
                display: inline-flex;
                position: relative;

                h1 {
                    background: transparent;
                    font-size: 18px;
                    font-weight: bold;
                    // line-height: 32px;
                    text-decoration: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    height: 100%;
                    color: $clr-text;
                    padding: 0 10px;
                }
            }

            .btn-star {
                height: 32px;
                width: 32px;
                // line-height: 32px;
                margin-bottom: 0;
                flex-shrink: 0;
                background-color: transparent;
                // padding: 6px;

                font-size: 14px;
                // line-height: 20px;
                font-weight: 400;
                box-sizing: border-box;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                cursor: pointer;
                padding: 6px 12px;
                text-decoration: none;
                white-space: normal;
                background-color: $clr-background-neutral, #091e420f;
                box-shadow: none;
                border: none;
                color: $clr-text, #172b4d;
                transition-property: background-color, border-color, box-shadow;
                transition-duration: 85ms;
                transition-timing-function: ease;

                &:hover {
                    background-color: #091e4224;
                }

                .star {
                    @include trello-icon($icon-full-star);
                    transition: 0.2s ease;

                    &:hover {
                        @include trello-icon($icon-star);
                        color: #42526e;
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
        }
        .right-board-nav {
            display: flex;
            align-items: center;
        }
        .board-members {
            float: right;
            margin: 0;
            & > * {
                float: right;
                height: 24px;
                margin: 0 0 4px 4px;
                width: 24px;
                background-color: $clr-background-accent-gray-subtler;
                color: $clr-text;
                border-radius: 25em;
                cursor: pointer;
                display: block;
                float: left;
                margin: 0 4px 4px 0;
                overflow: visible;
                position: relative;
                text-decoration: none;
                -webkit-user-select: none;
                user-select: none;
                z-index: 0;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 25em;
                    object-fit: cover;
                    border: 0;
                    aspect-ratio: auto 30 / 30;
                    overflow-clip-margin: content-box;
                    overflow: clip;
                }
            }
        }
        .sidenav {
            display: flex;
            flex-direction: column;
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 48px; /* Stay at the top */
            right: 0;
            background-color: #f1f2f4;
            color: $clr-text;
            overflow-x: hidden; /* Disable horizontal scroll */
            transition: 0.2s ease-in; /* 0.5 second transition effect to slide in the sidenav */
            .topSidenav {
                display: flex;
                justify-content: space-between;
                justify-content: center;
                padding: 8px;
                border-bottom: 1px solid hsla(218, 54%, 19.6%, 0.16);
                // text-align: center;
                align-items: center;
                font-weight: 600;
                font-size: 16px;
                .menu-text {
                    margin-left: 8px;
                    font-weight: bold;
                }
                .back-icon {
                    // margin-right: 8px;
                    cursor: pointer;
                }
                span {
                    text-align: center;
                }
                a {
                    text-decoration: none;
                    color: $clr-text;
                    font-size: 30px;
                    font-weight: 300;
                }
            }
            .sidenavButtons {
                display: flex;
                flex-direction: column;
                background-color: #f1f2f4;
                align-items: start;
                padding-top: 12px;
                padding-left: 20px;

                .about-button {
                    display: flex;
                    align-items: center;
                    // background-color: lightgreen;
                    cursor: pointer;
                    button {
                        cursor: pointer;
                        &:hover {
                            background-color: lightgray;
                        }
                    }
                    .trello-icon {
                        @include trello-icon($content: $icon-trello, $type: md, $color: #44546f);
                        padding-bottom: 8px;
                    }
                }
                .change-bcg-button {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    button {
                        cursor: pointer;
                        &:hover {
                            background-color: lightgray;
                        }
                    }
                    img {
                        height: 25px;
                        width: 25px;
                        border-radius: 3px;
                        padding-bottom: 8px;
                    }
                }
            }
            .background-options {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 15px;
                justify-content: center;
                img {
                    border-radius: 15px;
                    width: 150px;
                    aspect-ratio: 3/2;
                    cursor: pointer;
                }
            }
            p {
                margin-left: 10px;
                line-height: 2.5;
            }
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: $clr-text;
                // display: block;
                transition: 0.3s;
            }

            &.closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
        }
    }
    .open-menu-btn {
        @include trello-icon($icon-three-dots);
        background-color: transparent;
        font-size: 20px;
        padding-left: 10px;
        cursor: pointer;
        &:hover {
            background-color: rgb(150, 147, 147);
        }
    }
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
