// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

.text-center {
    text-align: center;
}

// flex helpers

.flex {
    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.green {
    background-color: $clr-background-accent-green-subtle;
    color: $clr-text-accent-green-bolder;
}

.subtle-green {
    background-color: $clr-background-accent-green-subtler;
    color: $clr-text-accent-green-bolder;
}

.bold-green {
    background-color: $clr-background-accent-green-bolder;
    color: $ds-text-inverse;
}

.yellow {
    background-color: $clr-background-accent-yellow-subtle;
    color: $clr-text-accent-yellow-bolder;
}

.subtle-yellow {
    background-color: $clr-background-accent-yellow-subtler;
    color: $clr-text-accent-yellow-bolder;
}

.bold-yellow {
    background-color: $clr-background-accent-yellow-bolder;
    color: $ds-text-inverse;
}

.orange {
    background-color: $clr-background-accent-orange-subtle;
    color: $clr-text-accent-orange-bolder;
}

.subtle-orange {
    background-color: $clr-background-accent-orange-subtler;
    color: $clr-text-accent-orange-bolder;
}

.bold-orange {
    background-color: $clr-background-accent-orange-bolder;
    color: $ds-text-inverse;
}

.red {
    background-color: $clr-background-accent-red-subtle;
    color: $clr-text-accent-red-bolder;
}

.subtle-red {
    background-color: $clr-background-accent-red-subtler;
    color: $clr-text-accent-red-bolder;
}

.bold-red {
    background-color: $clr-background-accent-red-bolder;
    color: $ds-text-inverse;
}

.purple {
    background-color: $clr-background-accent-purple-subtle;
    color: $clr-text-accent-purple-bolder;
}

.subtle-purple {
    background-color: $clr-background-accent-purple-subtler;
    color: $clr-text-accent-purple-bolder;
}

.bold-purple {
    background-color: $clr-background-accent-purple-bolder;
    color: $ds-text-inverse;
}

.blue {
    background-color: $clr-background-accent-blue-subtle;
    color: $clr-text-accent-blue-bolder;
}

.subtle-blue {
    background-color: $clr-background-accent-blue-subtler;
    color: $clr-text-accent-blue-bolder;
}

.bold-blue {
    background-color: $clr-background-accent-blue-bolder;
    color: $ds-text-inverse;
}

.sky {
    background-color: $clr-background-accent-teal-subtle;
    color: $clr-text-accent-teal-bolder;
}

.subtle-sky {
    background-color: $clr-background-accent-teal-subtler;
    color: $clr-text-accent-teal-bolder;
}

.bold-sky {
    background-color: $clr-background-accent-teal-bolder;
    color: $ds-text-inverse;
}

.lime {
    background-color: $clr-background-accent-lime-subtle;
    color: $clr-text-accent-lime-bolder;
}

.subtle-lime {
    background-color: $clr-background-accent-lime-subtler;
    color: $clr-text-accent-lime-bolder;
}

.bold-lime {
    background-color: $clr-background-accent-lime-bolder;
    color: $ds-text-inverse;
}

.pink {
    background-color: $clr-background-accent-magenta-subtle;
    color: $clr-text-accent-magenta-bolder;
}

.subtle-pink {
    background-color: $clr-background-accent-magenta-subtler;
    color: $clr-text-accent-magenta-bolder;
}

.bold-pink {
    background-color: $clr-background-accent-magenta-bolder;
    color: $ds-text-inverse;
}

.black {
    background-color: $clr-background-accent-gray-subtle;
    color: $clr-text-accent-gray-bolder;
}

.subtle-black {
    background-color: $clr-background-accent-gray-subtler;
    color: $clr-text-accent-gray-bolder;
}

.bold-black {
    background-color: $clr-background-accent-gray-bolder;
    color: $ds-text-inverse;
}

.controls {
    display: flex;
    gap: 5px;
    height: 32px;
    margin: 8px 0 0;
    overflow: hidden;
    transition: margin 85ms ease-in, height 85ms ease-in;

    .btn-add {
        float: left;
        height: 32px;
        margin-top: 0;
        min-height: 32px;
        padding-bottom: 4px;
        padding-top: 4px;
        background-color: $clr-background-brand-bold;
        border: none;
        box-shadow: none;
        color: $clr-text-inverse;
        align-items: center;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        font-size: 14px;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        padding: 6px 12px;
        text-decoration: none;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
        white-space: normal;
        // margin: 8px 4px 0 0;
        text-align: center;

        &:hover {
            background-color: $clr-background-brand-bold-hovered;
        }
    }

    .btn-close {
        @include trello-icon($icon-close);
        line-height: 32px;
        font-size: 24px;
        color: $clr-icon;

        &:hover {
            cursor: pointer;
            color: $clr-text;
        }
    }
}

//scroll bar
.u-fancy-scrollbar {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    -webkit-transform: translateZ(0);

   
    
   


}