// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

.text-center {
    text-align: center;
}

// flex helpers

.flex {
    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.green {
    background-color: $clr-background-accent-green-subtle;
    color: $clr-text-accent-green-bolder;
}

.subtle-green {
    background-color: $clr-background-accent-green-subtler;
    color: $clr-text-accent-green;
}

.bold-green {
    background-color: $clr-background-accent-green-bolder;
    color: $clr-text-accent-green-bolder;
}

.yellow {
    background-color: $clr-background-accent-yellow-subtle;
    color: $clr-text-accent-yellow;
}

.subtle-yellow {
    background-color: $clr-background-accent-yellow-subtler;
    color: $clr-text-accent-yellow-bolder;
}

.bold-yellow {
    background-color: $clr-background-accent-yellow-bolder;
    color: $clr-text-accent-yellow-bolder;
}

.orange {
    background-color: $clr-background-accent-orange-subtle;
    color: $clr-text-accent-orange;
}

.subtle-orange {
    background-color: $clr-background-accent-orange-subtler;
    color: $clr-text-accent-orange-bolder;
}

.bold-orange {
    background-color: $clr-background-accent-orange-bolder;
    color: $clr-text-accent-orange-bolder;
}

.red {
    background-color: $clr-background-accent-red-subtle;
    color: $clr-text-accent-red-bolder;
}

.subtle-red {
    background-color: $clr-background-accent-red-subtler;
    color: $clr-text-accent-red-bolder;
}

.bold-red {
    background-color: $clr-background-accent-red-bolder;
    color: $clr-text-accent-red-bolder;
}

.purple {
    background-color: $clr-background-accent-purple-subtle;
    color: $clr-text-accent-purple;
}

.subtle-purple {
    background-color: $clr-background-accent-purple-subtler;
    color: $clr-text-accent-purple-bolder;
}

.bold-purple {
    background-color: $clr-background-accent-purple-bolder;
    color: $clr-text-accent-purple-bolder;
}

.blue {
    background-color: $clr-background-accent-blue-subtle;
    color: $clr-text-accent-blue;
}
.subtle-blue {
    background-color: $clr-background-accent-blue-subtler;
    color: $clr-text-accent-blue-bolder;
}
.bold-blue {
    background-color: $clr-background-accent-blue-bolder;
    color: $clr-text-accent-blue-bolder;
}
.sky {
    background-color: $clr-background-accent-teal-subtle;
    color: $clr-text-accent-teal;
}
.subtle-sky {
    background-color: $clr-background-accent-teal-subtler;
    color: $clr-text-accent-teal-bolder;
}
.bold-sky {
    background-color: $clr-background-accent-teal-bolder;
    color: $clr-text-accent-teal-bolder;
}
.lime {
    background-color: $clr-background-accent-lime-subtle;
    color: $clr-text-accent-lime-bolder;
}
.subtle-lime {
    background-color: $clr-background-accent-lime-subtler;
    color: $clr-text-accent-lime-bolder;
}
.bold-lime {
    background-color: $clr-background-accent-lime-bolder;
    color: $clr-text-accent-lime-bolder;
}
.pink {
    background-color: $clr-background-accent-magenta-subtle;
    color: $clr-text-accent-magenta;
}
.subtle-pink {
    background-color: $clr-background-accent-magenta-subtler;
    color: $clr-text-accent-magenta-bolder;
}
.bold-pink {
    background-color: $clr-background-accent-magenta-subtle;
    color: $clr-text-accent-magenta;
}
.black {
    background-color: $clr-background-accent-gray-subtle;
    color: $clr-text-accent-gray;
}
.subtle-black {
    background-color: $clr-background-accent-gray-subtler;
    color: $clr-text-accent-gray-bolder;
}
.bold-black {
    background-color: $clr-background-accent-gray-subtle;
    color: $clr-text-accent-gray;
}