// @font-face {
//     font-family: Roboto;
//     src: url(../../fonts/Roboto/Roboto-Regular.ttf);
// }
@font-face {
    font-family: Ubonto;
    src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Trellicons;
    src: url(../fonts/trellicons.ttf);
}
