$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// icon variables //
$icon-member: "\e946";
$icon-label: "\e93f";
$icon-checklist: "\e91a";
$icon-attachment: "\e908";
$icon-plus: "\e901";
$icon-arrow-right: "\e94a";
$icon-copy: "\e91f";
$icon-share: "\e963";
$icon-description: "\e922";
$icon-activity: "\e900";
$icon-archive: "\e907";
$icon-card: "\e912";
$icon-card-cover: "\e914";
$icon-gear: "\e932";
$icon-eye: "\e969";
$icon-comment: "\e91e";
$icon-clock: "\e91b";
$icon-star: "\e966";
$icon-full-star: "\e967";
$icon-two-members: "\e951";
$icon-three-dots: "\e952";
$icon-lighting-bolt: "\e909";
$icon-power-up: "\e956";
$icon-close: "\e91c";
$icon-checked: "\e916";
$icon-trello: "\e90b";
$icon-empty-checked: "\e919";
$icon-full-checked: "\e918";
// .main-app[data-color-mode="light"],
// .main-app[data-color-mode="dark"]
// {
// color-scheme: light;
$clr-text: #172b4d;
$clr-text-accent-lime: #4c6b1f;
$clr-text-accent-lime-bolder: #37471f;
$clr-text-accent-red: #ae2a19;
$clr-text-accent-red-bolder: #601e16;
$clr-text-accent-orange: #974f0c;
$clr-text-accent-orange-bolder: #5f3811;
$clr-text-accent-yellow: #7f5f01;
$clr-text-accent-yellow-bolder: #533f04;
$clr-text-accent-green: #216e4e;
$clr-text-accent-green-bolder: #164b35;
$clr-text-accent-teal: #206b74;
$clr-text-accent-teal-bolder: #1d474c;
$clr-text-accent-blue: #0055cc;
$clr-text-accent-blue-bolder: #09326c;
$clr-text-accent-purple: #5e4db2;
$clr-text-accent-purple-bolder: #352c63;
$clr-text-accent-magenta: #943d73;
$clr-text-accent-magenta-bolder: #50253f;
$clr-text-accent-gray: #44546f;
$clr-text-accent-gray-bolder: #091e42;
$clr-text-disabled: #091e424f;
$clr-text-inverse: #ffffff;
$clr-text-selected: #0c66e4;
$clr-text-brand: #0c66e4;
$clr-text-danger: #ae2a19;
$clr-text-warning: #974f0c;
$clr-text-warning-inverse: #172b4d;
$clr-text-success: #216e4e;
$clr-text-discovery: #5e4db2;
$clr-text-information: #0055cc;
$clr-text-subtlest: #626f86;
$clr-text-subtle: #44546f;
$clr-link: #0c66e4;
$clr-link-pressed: #0055cc;
$clr-icon: #44546f;
$clr-icon-accent-lime: #6a9a23;
$clr-icon-accent-red: #e34935;
$clr-icon-accent-orange: #d97008;
$clr-icon-accent-yellow: #b38600;
$clr-icon-accent-green: #22a06b;
$clr-icon-accent-teal: #1d9aaa;
$clr-icon-accent-blue: #1d7afc;
$clr-icon-accent-purple: #8270db;
$clr-icon-accent-magenta: #cd519d;
$clr-icon-accent-gray: #758195;
$clr-icon-disabled: #091e424f;
$clr-icon-inverse: #ffffff;
$clr-icon-selected: #0c66e4;
$clr-icon-brand: #0c66e4;
$clr-icon-danger: #e34935;
$clr-icon-warning: #d97008;
$clr-icon-warning-inverse: #172b4d;
$clr-icon-success: #22a06b;
$clr-icon-discovery: #8270db;
$clr-icon-information: #1d7afc;
$clr-icon-subtle: #626f86;
$clr-border: #091e4224;
$clr-border-accent-lime: #6a9a23;
$clr-border-accent-red: #e34935;
$clr-border-accent-orange: #d97008;
$clr-border-accent-yellow: #b38600;
$clr-border-accent-green: #22a06b;
$clr-border-accent-teal: #1d9aaa;
$clr-border-accent-blue: #1d7afc;
$clr-border-accent-purple: #8270db;
$clr-border-accent-magenta: #cd519d;
$clr-border-accent-gray: #758195;
$clr-border-disabled: #091e420f;
$clr-border-focused: #388bff;
$clr-border-input: #091e4224;
$clr-border-inverse: #ffffff;
$clr-border-selected: #0c66e4;
$clr-border-brand: #0c66e4;
$clr-border-danger: #e34935;
$clr-border-warning: #d97008;
$clr-border-success: #22a06b;
$clr-border-discovery: #8270db;
$clr-border-information: #1d7afc;
$clr-border-bold: #758195;
$clr-background-accent-lime-subtlest: #eefbda;
$clr-background-accent-lime-subtler: #d3f1a7;
$clr-background-accent-lime-subtle: #94c748;
$clr-background-accent-lime-bolder: #5b7f24;
$clr-background-accent-red-subtlest: #ffedeb;
$clr-background-accent-red-subtler: #ffd2cc;
$clr-background-accent-red-subtle: #f87462;
$clr-background-accent-red-bolder: #ca3521;
$clr-background-accent-orange-subtlest: #fff4e5;
$clr-background-accent-orange-subtler: #ffe2bd;
$clr-background-accent-orange-subtle: #faa53d;
$clr-background-accent-orange-bolder: #b65c02;
$clr-background-accent-yellow-subtlest: #fff7d6;
$clr-background-accent-yellow-subtler: #f8e6a0;
$clr-background-accent-yellow-subtle: #e2b203;
$clr-background-accent-yellow-bolder: #946f00;
$clr-background-accent-green-subtlest: #dffcf0;
$clr-background-accent-green-subtler: #baf3db;
$clr-background-accent-green-subtle: #4bce97;
$clr-background-accent-green-bolder: #1f845a;
$clr-background-accent-teal-subtlest: #e3fafc;
$clr-background-accent-teal-subtler: #c1f0f5;
$clr-background-accent-teal-subtle: #60c6d2;
$clr-background-accent-teal-bolder: #1d7f8c;
$clr-background-accent-blue-subtlest: #e9f2ff;
$clr-background-accent-blue-subtler: #cce0ff;
$clr-background-accent-blue-subtle: #579dff;
$clr-background-accent-blue-bolder: #0c66e4;
$clr-background-accent-purple-subtlest: #f3f0ff;
$clr-background-accent-purple-subtler: #dfd8fd;
$clr-background-accent-purple-subtle: #9f8fef;
$clr-background-accent-purple-bolder: #6e5dc6;
$clr-background-accent-magenta-subtlest: #ffecf8;
$clr-background-accent-magenta-subtler: #fdd0ec;
$clr-background-accent-magenta-subtle: #e774bb;
$clr-background-accent-magenta-bolder: #ae4787;
$clr-background-accent-gray-subtlest: #f1f2f4;
$clr-background-accent-gray-subtler: #dcdfe4;
$clr-background-accent-gray-subtle: #8590a2;
$clr-background-accent-gray-bolder: #626f86;
$clr-background-disabled: #091e4208;
$clr-background-input: #ffffff;
$clr-background-input-hovered: #f7f8f9;
$clr-background-input-pressed: #ffffff;
$clr-background-inverse-subtle: #00000029;
$clr-background-inverse-subtle-hovered: #0000003d;
$clr-background-inverse-subtle-pressed: #00000052;
$clr-background-neutral: #091e420f;
$clr-background-neutral-hovered: #091e4224;
$clr-background-neutral-pressed: #091e424f;
$clr-background-neutral-subtle: #00000000;
$clr-background-neutral-subtle-hovered: #091e420f;
$clr-background-neutral-subtle-pressed: #091e4224;
$clr-background-neutral-bold: #44546f;
$clr-background-neutral-bold-hovered: #2c3e5d;
$clr-background-neutral-bold-pressed: #172b4d;
$clr-background-selected: #e9f2ff;
$clr-background-selected-hovered: #cce0ff;
$clr-background-selected-pressed: #85b8ff;
$clr-background-selected-bold: #0c66e4;
$clr-background-selected-bold-hovered: #0055cc;
$clr-background-selected-bold-pressed: #09326c;
$clr-background-brand-subtlest: #e9f2ff;
$clr-background-brand-subtlest-hovered: #cce0ff;
$clr-background-brand-subtlest-pressed: #85b8ff;
$clr-background-brand-bold: #0c66e4;
$clr-background-brand-bold-hovered: #0055cc;
$clr-background-brand-bold-pressed: #09326c;
$clr-background-brand-boldest: #092957;
$clr-background-brand-boldest-hovered: #09326c;
$clr-background-brand-boldest-pressed: #0055cc;
$clr-background-danger: #ffedeb;
$clr-background-danger-hovered: #ffd2cc;
$clr-background-danger-pressed: #ff9c8f;
$clr-background-danger-bold: #ca3521;
$clr-background-danger-bold-hovered: #ae2a19;
$clr-background-danger-bold-pressed: #601e16;
$clr-background-warning: #fff7d6;
$clr-background-warning-hovered: #f8e6a0;
$clr-background-warning-pressed: #f5cd47;
$clr-background-warning-bold: #e2b203;
$clr-background-warning-bold-hovered: #cf9f02;
$clr-background-warning-bold-pressed: #b38600;
$clr-background-success: #dffcf0;
$clr-background-success-hovered: #baf3db;
$clr-background-success-pressed: #7ee2b8;
$clr-background-success-bold: #1f845a;
$clr-background-success-bold-hovered: #216e4e;
$clr-background-success-bold-pressed: #164b35;
$clr-background-discovery: #f3f0ff;
$clr-background-discovery-hovered: #dfd8fd;
$clr-background-discovery-pressed: #b8acf6;
$clr-background-discovery-bold: #6e5dc6;
$clr-background-discovery-bold-hovered: #5e4db2;
$clr-background-discovery-bold-pressed: #352c63;
$clr-background-information: #e9f2ff;
$clr-background-information-hovered: #cce0ff;
$clr-background-information-pressed: #85b8ff;
$clr-background-information-bold: #0c66e4;
$clr-background-information-bold-hovered: #0055cc;
$clr-background-information-bold-pressed: #09326c;
$clr-blanket: #091e427d;
$clr-blanket-selected: #388bff14;
$clr-blanket-danger: #ef5c4814;
$clr-interaction-hovered: #00000029;
$clr-interaction-pressed: #00000052;
$clr-skeleton: #091e420f;
$clr-skeleton-subtle: #091e4208;
$clr-chart-categorical-1: #1d9aaa;
$clr-chart-categorical-1-hovered: #1d7f8c;
$clr-chart-categorical-2: #5e4db2;
$clr-chart-categorical-2-hovered: #352c63;
$clr-chart-categorical-3: #d97008;
$clr-chart-categorical-3-hovered: #b65c02;
$clr-chart-categorical-4: #943d73;
$clr-chart-categorical-4-hovered: #50253f;
$clr-chart-categorical-5: #09326c;
$clr-chart-categorical-5-hovered: #092957;
$clr-chart-categorical-6: #8f7ee7;
$clr-chart-categorical-6-hovered: #8270db;
$clr-chart-categorical-7: #50253f;
$clr-chart-categorical-7-hovered: #421f34;
$clr-chart-categorical-8: #974f0c;
$clr-chart-categorical-8-hovered: #5f3811;
$clr-chart-lime-bold: #6a9a23;
$clr-chart-lime-bold-hovered: #5b7f24;
$clr-chart-lime-bolder: #5b7f24;
$clr-chart-lime-bolder-hovered: #4c6b1f;
$clr-chart-lime-boldest: #4c6b1f;
$clr-chart-lime-boldest-hovered: #37471f;
$clr-chart-neutral: #8590a2;
$clr-chart-neutral-hovered: #758195;
$clr-chart-red-bold: #ef5c48;
$clr-chart-red-bold-hovered: #e34935;
$clr-chart-red-bolder: #e34935;
$clr-chart-red-bolder-hovered: #ca3521;
$clr-chart-red-boldest: #ae2a19;
$clr-chart-red-boldest-hovered: #601e16;
$clr-chart-orange-bold: #d97008;
$clr-chart-orange-bold-hovered: #b65c02;
$clr-chart-orange-bolder: #b65c02;
$clr-chart-orange-bolder-hovered: #974f0c;
$clr-chart-orange-boldest: #974f0c;
$clr-chart-orange-boldest-hovered: #5f3811;
$clr-chart-yellow-bold: #b38600;
$clr-chart-yellow-bold-hovered: #946f00;
$clr-chart-yellow-bolder: #946f00;
$clr-chart-yellow-bolder-hovered: #7f5f01;
$clr-chart-yellow-boldest: #7f5f01;
$clr-chart-yellow-boldest-hovered: #533f04;
$clr-chart-green-bold: #22a06b;
$clr-chart-green-bold-hovered: #1f845a;
$clr-chart-green-bolder: #1f845a;
$clr-chart-green-bolder-hovered: #216e4e;
$clr-chart-green-boldest: #216e4e;
$clr-chart-green-boldest-hovered: #164b35;
$clr-chart-teal-bold: #1d9aaa;
$clr-chart-teal-bold-hovered: #1d7f8c;
$clr-chart-teal-bolder: #1d7f8c;
$clr-chart-teal-bolder-hovered: #206b74;
$clr-chart-teal-boldest: #206b74;
$clr-chart-teal-boldest-hovered: #1d474c;
$clr-chart-blue-bold: #388bff;
$clr-chart-blue-bold-hovered: #1d7afc;
$clr-chart-blue-bolder: #1d7afc;
$clr-chart-blue-bolder-hovered: #0c66e4;
$clr-chart-blue-boldest: #0055cc;
$clr-chart-blue-boldest-hovered: #09326c;
$clr-chart-purple-bold: #8f7ee7;
$clr-chart-purple-bold-hovered: #8270db;
$clr-chart-purple-bolder: #8270db;
$clr-chart-purple-bolder-hovered: #6e5dc6;
$clr-chart-purple-boldest: #5e4db2;
$clr-chart-purple-boldest-hovered: #352c63;
$clr-chart-magenta-bold: #da62ac;
$clr-chart-magenta-bold-hovered: #cd519d;
$clr-chart-magenta-bolder: #cd519d;
$clr-chart-magenta-bolder-hovered: #ae4787;
$clr-chart-magenta-boldest: #943d73;
$clr-chart-magenta-boldest-hovered: #50253f;
$clr-chart-gray-bold: #8590a2;
$clr-chart-gray-bold-hovered: #758195;
$clr-chart-gray-bolder: #758195;
$clr-chart-gray-bolder-hovered: #626f86;
$clr-chart-gray-boldest: #44546f;
$clr-chart-gray-boldest-hovered: #2c3e5d;
$clr-chart-brand: #1d7afc;
$clr-chart-brand-hovered: #0c66e4;
$clr-chart-danger: #ef5c48;
$clr-chart-danger-hovered: #e34935;
$clr-chart-danger-bold: #ae2a19;
$clr-chart-danger-bold-hovered: #601e16;
$clr-chart-warning: #b38600;
$clr-chart-warning-hovered: #946f00;
$clr-chart-warning-bold: #7f5f01;
$clr-chart-warning-bold-hovered: #533f04;
$clr-chart-success: #22a06b;
$clr-chart-success-hovered: #1f845a;
$clr-chart-success-bold: #216e4e;
$clr-chart-success-bold-hovered: #164b35;
$clr-chart-discovery: #8f7ee7;
$clr-chart-discovery-hovered: #8270db;
$clr-chart-discovery-bold: #5e4db2;
$clr-chart-discovery-bold-hovered: #352c63;
$clr-chart-information: #388bff;
$clr-chart-information-hovered: #1d7afc;
$clr-chart-information-bold: #0055cc;
$clr-chart-information-bold-hovered: #09326c;
$clr-surface: #ffffff;
$clr-surface-hovered: #f1f2f4;
$clr-surface-pressed: #dcdfe4;
$clr-surface-overlay: #ffffff;
$clr-surface-overlay-hovered: #f1f2f4;
$clr-surface-overlay-pressed: #dcdfe4;
$clr-surface-raised: #ffffff;
$clr-surface-raised-hovered: #f1f2f4;
$clr-surface-raised-pressed: #dcdfe4;
$clr-surface-sunken: #f7f8f9;
$clr-shadow-overflow: 0px 0px 8px #091e4229, 0px 0px 1px #091e421f;
$clr-shadow-overflow-perimeter: #091e421f;
$clr-shadow-overflow-spread: #091e4229;
$clr-shadow-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
$clr-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
$clr-opacity-disabled: 0.4;
$clr-opacity-loading: 0.2;
$clr-UNSAFE-transparent: transparent;
// }

// .main-app[data-color-mode="light"],
// .main-app[data-color-mode="dark"] {
//     color-scheme: dark;
//     $clr-text: #b6c2cf;
//     $clr-text-accent-lime: #b3df72;
//     $clr-text-accent-lime-bolder: #d3f1a7;
//     $clr-text-accent-red: #ff9c8f;
//     $clr-text-accent-red-bolder: #ffd2cc;
//     $clr-text-accent-orange: #fec57b;
//     $clr-text-accent-orange-bolder: #ffe2bd;
//     $clr-text-accent-yellow: #f5cd47;
//     $clr-text-accent-yellow-bolder: #f8e6a0;
//     $clr-text-accent-green: #7ee2b8;
//     $clr-text-accent-green-bolder: #baf3db;
//     $clr-text-accent-teal: #8bdbe5;
//     $clr-text-accent-teal-bolder: #c1f0f5;
//     $clr-text-accent-blue: #85b8ff;
//     $clr-text-accent-blue-bolder: #cce0ff;
//     $clr-text-accent-purple: #b8acf6;
//     $clr-text-accent-purple-bolder: #dfd8fd;
//     $clr-text-accent-magenta: #f797d2;
//     $clr-text-accent-magenta-bolder: #fdd0ec;
//     $clr-text-accent-gray: #9fadbc;
//     $clr-text-accent-gray-bolder: #dee4ea;
//     $clr-text-disabled: #bfdbf847;
//     $clr-text-inverse: #1d2125;
//     $clr-text-selected: #579dff;
//     $clr-text-brand: #579dff;
//     $clr-text-danger: #ff9c8f;
//     $clr-text-warning: #f5cd47;
//     $clr-text-warning-inverse: #1d2125;
//     $clr-text-success: #7ee2b8;
//     $clr-text-discovery: #b8acf6;
//     $clr-text-information: #85b8ff;
//     $clr-text-subtlest: #8c9bab;
//     $clr-text-subtle: #9fadbc;
//     $clr-link: #579dff;
//     $clr-link-pressed: #85b8ff;
//     $clr-icon: #9fadbc;
//     $clr-icon-accent-lime: #82b536;
//     $clr-icon-accent-red: #ef5c48;
//     $clr-icon-accent-orange: #f18d13;
//     $clr-icon-accent-yellow: #cf9f02;
//     $clr-icon-accent-green: #2abb7f;
//     $clr-icon-accent-teal: #37b4c3;
//     $clr-icon-accent-blue: #388bff;
//     $clr-icon-accent-purple: #8f7ee7;
//     $clr-icon-accent-magenta: #da62ac;
//     $clr-icon-accent-gray: #738496;
//     $clr-icon-disabled: #bfdbf847;
//     $clr-icon-inverse: #1d2125;
//     $clr-icon-selected: #579dff;
//     $clr-icon-brand: #579dff;
//     $clr-icon-danger: #ef5c48;
//     $clr-icon-warning: #cf9f02;
//     $clr-icon-warning-inverse: #1d2125;
//     $clr-icon-success: #2abb7f;
//     $clr-icon-discovery: #8f7ee7;
//     $clr-icon-information: #388bff;
//     $clr-icon-subtle: #8c9bab;
//     $clr-border: #a6c5e229;
//     $clr-border-accent-lime: #82b536;
//     $clr-border-accent-red: #ef5c48;
//     $clr-border-accent-orange: #f18d13;
//     $clr-border-accent-yellow: #cf9f02;
//     $clr-border-accent-green: #2abb7f;
//     $clr-border-accent-teal: #37b4c3;
//     $clr-border-accent-blue: #388bff;
//     $clr-border-accent-purple: #8f7ee7;
//     $clr-border-accent-magenta: #da62ac;
//     $clr-border-accent-gray: #738496;
//     $clr-border-disabled: #a1bdd914;
//     $clr-border-focused: #85b8ff;
//     $clr-border-input: #a6c5e229;
//     $clr-border-inverse: #161a1d;
//     $clr-border-selected: #579dff;
//     $clr-border-brand: #579dff;
//     $clr-border-danger: #ef5c48;
//     $clr-border-warning: #cf9f02;
//     $clr-border-success: #2abb7f;
//     $clr-border-discovery: #8f7ee7;
//     $clr-border-information: #388bff;
//     $clr-border-bold: #738496;
//     $clr-background-accent-lime-subtlest: #2a3818;
//     $clr-background-accent-lime-subtler: #37471f;
//     $clr-background-accent-lime-subtle: #4c6b1f;
//     $clr-background-accent-lime-bolder: #94c748;
//     $clr-background-accent-red-subtlest: #4f1c16;
//     $clr-background-accent-red-subtler: #601e16;
//     $clr-background-accent-red-subtle: #ae2a19;
//     $clr-background-accent-red-bolder: #f87462;
//     $clr-background-accent-orange-subtlest: #4a2b0f;
//     $clr-background-accent-orange-subtler: #5f3811;
//     $clr-background-accent-orange-subtle: #974f0c;
//     $clr-background-accent-orange-bolder: #faa53d;
//     $clr-background-accent-yellow-subtlest: #3f3102;
//     $clr-background-accent-yellow-subtler: #533f04;
//     $clr-background-accent-yellow-subtle: #7f5f01;
//     $clr-background-accent-yellow-bolder: #e2b203;
//     $clr-background-accent-green-subtlest: #143c2b;
//     $clr-background-accent-green-subtler: #164b35;
//     $clr-background-accent-green-subtle: #216e4e;
//     $clr-background-accent-green-bolder: #4bce97;
//     $clr-background-accent-teal-subtlest: #15373b;
//     $clr-background-accent-teal-subtler: #1d474c;
//     $clr-background-accent-teal-subtle: #206b74;
//     $clr-background-accent-teal-bolder: #60c6d2;
//     $clr-background-accent-blue-subtlest: #092957;
//     $clr-background-accent-blue-subtler: #09326c;
//     $clr-background-accent-blue-subtle: #0055cc;
//     $clr-background-accent-blue-bolder: #579dff;
//     $clr-background-accent-purple-subtlest: #2b2451;
//     $clr-background-accent-purple-subtler: #352c63;
//     $clr-background-accent-purple-subtle: #5e4db2;
//     $clr-background-accent-purple-bolder: #9f8fef;
//     $clr-background-accent-magenta-subtlest: #421f34;
//     $clr-background-accent-magenta-subtler: #50253f;
//     $clr-background-accent-magenta-subtle: #943d73;
//     $clr-background-accent-magenta-bolder: #e774bb;
//     $clr-background-accent-gray-subtlest: #2c333a;
//     $clr-background-accent-gray-subtler: #454f59;
//     $clr-background-accent-gray-subtle: #596773;
//     $clr-background-accent-gray-bolder: #8c9bab;
//     $clr-background-disabled: #bcd6f00a;
//     $clr-background-input: #22272b;
//     $clr-background-input-hovered: #282e33;
//     $clr-background-input-pressed: #22272b;
//     $clr-background-inverse-subtle: #ffffff29;
//     $clr-background-inverse-subtle-hovered: #ffffff3d;
//     $clr-background-inverse-subtle-pressed: #ffffff52;
//     $clr-background-neutral: #a1bdd914;
//     $clr-background-neutral-hovered: #a6c5e229;
//     $clr-background-neutral-pressed: #bfdbf847;
//     $clr-background-neutral-subtle: #00000000;
//     $clr-background-neutral-subtle-hovered: #a1bdd914;
//     $clr-background-neutral-subtle-pressed: #a6c5e229;
//     $clr-background-neutral-bold: #9fadbc;
//     $clr-background-neutral-bold-hovered: #b6c2cf;
//     $clr-background-neutral-bold-pressed: #c7d1db;
//     $clr-background-selected: #092957;
//     $clr-background-selected-hovered: #09326c;
//     $clr-background-selected-pressed: #0055cc;
//     $clr-background-selected-bold: #579dff;
//     $clr-background-selected-bold-hovered: #85b8ff;
//     $clr-background-selected-bold-pressed: #cce0ff;
//     $clr-background-brand-subtlest: #092957;
//     $clr-background-brand-subtlest-hovered: #09326c;
//     $clr-background-brand-subtlest-pressed: #0055cc;
//     $clr-background-brand-bold: #579dff;
//     $clr-background-brand-bold-hovered: #85b8ff;
//     $clr-background-brand-bold-pressed: #cce0ff;
//     $clr-background-brand-boldest: #e9f2ff;
//     $clr-background-brand-boldest-hovered: #cce0ff;
//     $clr-background-brand-boldest-pressed: #85b8ff;
//     $clr-background-danger: #4f1c16;
//     $clr-background-danger-hovered: #601e16;
//     $clr-background-danger-pressed: #ae2a19;
//     $clr-background-danger-bold: #f87462;
//     $clr-background-danger-bold-hovered: #ff9c8f;
//     $clr-background-danger-bold-pressed: #ffd2cc;
//     $clr-background-warning: #3f3102;
//     $clr-background-warning-hovered: #533f04;
//     $clr-background-warning-pressed: #7f5f01;
//     $clr-background-warning-bold: #e2b203;
//     $clr-background-warning-bold-hovered: #f5cd47;
//     $clr-background-warning-bold-pressed: #f8e6a0;
//     $clr-background-success: #143c2b;
//     $clr-background-success-hovered: #164b35;
//     $clr-background-success-pressed: #216e4e;
//     $clr-background-success-bold: #4bce97;
//     $clr-background-success-bold-hovered: #7ee2b8;
//     $clr-background-success-bold-pressed: #baf3db;
//     $clr-background-discovery: #2b2451;
//     $clr-background-discovery-hovered: #352c63;
//     $clr-background-discovery-pressed: #5e4db2;
//     $clr-background-discovery-bold: #9f8fef;
//     $clr-background-discovery-bold-hovered: #b8acf6;
//     $clr-background-discovery-bold-pressed: #dfd8fd;
//     $clr-background-information: #092957;
//     $clr-background-information-hovered: #09326c;
//     $clr-background-information-pressed: #0055cc;
//     $clr-background-information-bold: #579dff;
//     $clr-background-information-bold-hovered: #85b8ff;
//     $clr-background-information-bold-pressed: #cce0ff;
//     $clr-blanket: #10121499;
//     $clr-blanket-selected: #1d7afc14;
//     $clr-blanket-danger: #e3493514;
//     $clr-interaction-hovered: #ffffff33;
//     $clr-interaction-pressed: #ffffff5c;
//     $clr-skeleton: #a1bdd914;
//     $clr-skeleton-subtle: #bcd6f00a;
//     $clr-chart-categorical-1: #1d9aaa;
//     $clr-chart-categorical-1-hovered: #37b4c3;
//     $clr-chart-categorical-2: #b8acf6;
//     $clr-chart-categorical-2-hovered: #dfd8fd;
//     $clr-chart-categorical-3: #d97008;
//     $clr-chart-categorical-3-hovered: #f18d13;
//     $clr-chart-categorical-4: #f797d2;
//     $clr-chart-categorical-4-hovered: #fdd0ec;
//     $clr-chart-categorical-5: #cce0ff;
//     $clr-chart-categorical-5-hovered: #e9f2ff;
//     $clr-chart-categorical-6: #8270db;
//     $clr-chart-categorical-6-hovered: #8f7ee7;
//     $clr-chart-categorical-7: #fdd0ec;
//     $clr-chart-categorical-7-hovered: #ffecf8;
//     $clr-chart-categorical-8: #fec57b;
//     $clr-chart-categorical-8-hovered: #ffe2bd;
//     $clr-chart-lime-bold: #82b536;
//     $clr-chart-lime-bold-hovered: #94c748;
//     $clr-chart-lime-bolder: #94c748;
//     $clr-chart-lime-bolder-hovered: #b3df72;
//     $clr-chart-lime-boldest: #b3df72;
//     $clr-chart-lime-boldest-hovered: #d3f1a7;
//     $clr-chart-neutral: #738496;
//     $clr-chart-neutral-hovered: #8c9bab;
//     $clr-chart-red-bold: #e34935;
//     $clr-chart-red-bold-hovered: #ef5c48;
//     $clr-chart-red-bolder: #ef5c48;
//     $clr-chart-red-bolder-hovered: #f87462;
//     $clr-chart-red-boldest: #ff9c8f;
//     $clr-chart-red-boldest-hovered: #ffd2cc;
//     $clr-chart-orange-bold: #f18d13;
//     $clr-chart-orange-bold-hovered: #faa53d;
//     $clr-chart-orange-bolder: #faa53d;
//     $clr-chart-orange-bolder-hovered: #fec57b;
//     $clr-chart-orange-boldest: #fec57b;
//     $clr-chart-orange-boldest-hovered: #ffe2bd;
//     $clr-chart-yellow-bold: #cf9f02;
//     $clr-chart-yellow-bold-hovered: #e2b203;
//     $clr-chart-yellow-bolder: #e2b203;
//     $clr-chart-yellow-bolder-hovered: #f5cd47;
//     $clr-chart-yellow-boldest: #f5cd47;
//     $clr-chart-yellow-boldest-hovered: #f8e6a0;
//     $clr-chart-green-bold: #2abb7f;
//     $clr-chart-green-bold-hovered: #4bce97;
//     $clr-chart-green-bolder: #4bce97;
//     $clr-chart-green-bolder-hovered: #7ee2b8;
//     $clr-chart-green-boldest: #7ee2b8;
//     $clr-chart-green-boldest-hovered: #baf3db;
//     $clr-chart-teal-bold: #37b4c3;
//     $clr-chart-teal-bold-hovered: #60c6d2;
//     $clr-chart-teal-bolder: #60c6d2;
//     $clr-chart-teal-bolder-hovered: #8bdbe5;
//     $clr-chart-teal-boldest: #8bdbe5;
//     $clr-chart-teal-boldest-hovered: #c1f0f5;
//     $clr-chart-blue-bold: #1d7afc;
//     $clr-chart-blue-bold-hovered: #388bff;
//     $clr-chart-blue-bolder: #388bff;
//     $clr-chart-blue-bolder-hovered: #579dff;
//     $clr-chart-blue-boldest: #85b8ff;
//     $clr-chart-blue-boldest-hovered: #cce0ff;
//     $clr-chart-purple-bold: #8270db;
//     $clr-chart-purple-bold-hovered: #8f7ee7;
//     $clr-chart-purple-bolder: #8f7ee7;
//     $clr-chart-purple-bolder-hovered: #9f8fef;
//     $clr-chart-purple-boldest: #b8acf6;
//     $clr-chart-purple-boldest-hovered: #dfd8fd;
//     $clr-chart-magenta-bold: #cd519d;
//     $clr-chart-magenta-bold-hovered: #da62ac;
//     $clr-chart-magenta-bolder: #da62ac;
//     $clr-chart-magenta-bolder-hovered: #e774bb;
//     $clr-chart-magenta-boldest: #f797d2;
//     $clr-chart-magenta-boldest-hovered: #fdd0ec;
//     $clr-chart-gray-bold: #738496;
//     $clr-chart-gray-bold-hovered: #8c9bab;
//     $clr-chart-gray-bolder: #8c9bab;
//     $clr-chart-gray-bolder-hovered: #9fadbc;
//     $clr-chart-gray-boldest: #9fadbc;
//     $clr-chart-gray-boldest-hovered: #b6c2cf;
//     $clr-chart-brand: #388bff;
//     $clr-chart-brand-hovered: #579dff;
//     $clr-chart-danger: #e34935;
//     $clr-chart-danger-hovered: #ef5c48;
//     $clr-chart-danger-bold: #ff9c8f;
//     $clr-chart-danger-bold-hovered: #ffd2cc;
//     $clr-chart-warning: #cf9f02;
//     $clr-chart-warning-hovered: #e2b203;
//     $clr-chart-warning-bold: #f5cd47;
//     $clr-chart-warning-bold-hovered: #f8e6a0;
//     $clr-chart-success: #2abb7f;
//     $clr-chart-success-hovered: #4bce97;
//     $clr-chart-success-bold: #7ee2b8;
//     $clr-chart-success-bold-hovered: #baf3db;
//     $clr-chart-discovery: #8270db;
//     $clr-chart-discovery-hovered: #8f7ee7;
//     $clr-chart-discovery-bold: #b8acf6;
//     $clr-chart-discovery-bold-hovered: #dfd8fd;
//     $clr-chart-information: #1d7afc;
//     $clr-chart-information-hovered: #388bff;
//     $clr-chart-information-bold: #85b8ff;
//     $clr-chart-information-bold-hovered: #cce0ff;
// $clr-surface: #1d2125;
//     $clr-surface-hovered: #22272b;
//     $clr-surface-pressed: #282e33;
//     $clr-surface-overlay: #282e33;
//     $clr-surface-overlay-hovered: #2c333a;
//     $clr-surface-overlay-pressed: #38414a;
//     $clr-surface-raised: #22272b;
//     $clr-surface-raised-hovered: #282e33;
//     $clr-surface-raised-pressed: #2c333a;
//     $clr-surface-sunken: #161a1d;
//     $clr-shadow-overflow: 0px 0px 12px #0304048f, 0px 0px 1px #03040480;
//     $clr-shadow-overflow-perimeter: #03040480;
//     $clr-shadow-overflow-spread: #0304048f;
//     $clr-shadow-overlay: inset 0px 0px 0px 1px #bcd6f01f, 0px 8px 12px #0304045c, 0px 0px 1px #03040480;
//     $clr-shadow-raised: inset 0px 0px 0px 1px #00000000, 0px 1px 1px #03040480, 0px 0px 1px #03040480;
//     $clr-opacity-disabled: 0.4;
//     $clr-opacity-loading: 0.2;
//     $clr-UNSAFE-transparent: transparent;
// }

html[data-theme~="spacing:spacing"] {
    $clr-space-0: 0rem;
    $clr-space-025: 0.125rem;
    $clr-space-050: 0.25rem;
    $clr-space-075: 0.375rem;
    $clr-space-100: 0.5rem;
    $clr-space-150: 0.75rem;
    $clr-space-200: 1rem;
    $clr-space-250: 1.25rem;
    $clr-space-300: 1.5rem;
    $clr-space-400: 2rem;
    $clr-space-500: 2.5rem;
    $clr-space-600: 3rem;
    $clr-space-800: 4rem;
    $clr-space-1000: 5rem;
}

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//lentgh
$header-hight: 48px;
$board-hight: calc(100vh - $header-hight);
$board-header-hight: auto;
$board-header-width: calc(100% - 23px);